@font-face {
   font-family: 'Motken Unicode Fostat';
   font-display: swap;
   src: url('file:///C:/Users/al-zahraa/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-09-19_161950/fonts/Motken%20Unicode%20Fostat/font.ttf');
}
