@font-face {
   font-family: 'ASpiritOfDohaBold';
   font-display: swap;
   src: url('file:///C:/Users/al-zahraa/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-09-19_161950/fonts/ASpiritOfDohaBold/font.ttf');
}
