@font-face {
   font-family: 'Motken Unicode Fostat';
   font-display: swap;
   src: url('Motken Unicode Fostat/font.ttf');
}
@font-face {
   font-family: 'ASpiritOfDohaBold';
   font-display: swap;
   src: url('ASpiritOfDohaBold/font.ttf');
}
